.charts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.chart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.chart-wrapper canvas {
  width: 100%;
  height: auto;
}